# Visual Studio Code
.vscode/

# Visual Studio files
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln.ide/
.vs/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# ReSharper
_ReSharper*/

# Miscellaneous files
*.bak
*.swp
*.vshost.*

# Build artifacts
*.exe
*.pdb
*.cache
